@import "../../styles/variables";

.LastSection {
    color: green;
    background-color: $background-color;
    color: $basic-font-color;
    display: flex;
    justify-content: center;
    padding: 160px 0;

    .section {
        position: relative;
        max-width: 300px;
        padding-left: 6px;

        &::before {
            position: absolute;
            left: -6px;
            top: 0;
            display: inline-block;
            content: "";
            height: 100%;
            width: 5px;
            background: $gradient-font-color-bottom;
            transition: all 0.3s ease-in-out;
        }
    }
}

@media screen and (min-width: 768px) {
    .TextSection {
        .section {
            max-width: 570px;

            &::before {
                left: -10px;
            }
        }
    }
}
