@import "../../styles/variables";

.LastSection {
    color: green;
    background-color: $background-color;
    color: $basic-font-color;
    display: flex;
    justify-content: center;
    padding: 160px 0;
    border-top: 10px solid;
    border-image-source: $gradient-font-color-right;
    border-image-slice: 1;
    z-index: 1;
}

.contactContainer {
    position: relative;
    max-width: 300px;
    padding-left: 6px;

    &::before {
        position: absolute;
        left: -6px;
        top: 0;
        display: inline-block;
        content: "";
        height: 100%;
        width: 5px;
        background: $gradient-font-color-bottom;
        transition: all 0.3s ease-in-out;
    }
}

.contactContainer__header {
    font-size: 30px;
}

@media screen and (min-width: 768px) {
    .contactContainer {
        max-width: 570px;

        &::before {
            left: -10px;
        }
    }
}
