@import "../assets/fonts.css";
@import "../styles/variables";

body {
    font-family: "Khand", sans-serif;
    scroll-behavior: smooth;
    background: $background-color-lighter;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* SCROLLBARS */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e33226;
    border: 0px none $background-color;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
    background: #e33226;
}
::-webkit-scrollbar-thumb:active {
    background: #e33226;
}
::-webkit-scrollbar-track {
    background: $background-color;
    border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
    background: $background-color;
}
::-webkit-scrollbar-track:active {
    background: $background-color;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
