@import "../../styles/variables";

.Portfolio {
    background-color: $background-color-lighter;
    color: $basic-font-color;
    margin: 30px auto;

    .section {
        position: relative;
        max-width: 100%;
        margin: 0 5px;
    }

    .portfolio__header {
        text-align: left;
        max-width: 700px;
        margin: 30px auto 0;
        font-size: 30px;
    }

    .portfolio__items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .Portfolio {
        .section {
        }
    }
}
