/* VARIABLES LIST */
$basic-font-color: rgba(255, 255, 255, 1);

$background-color: rgb(20, 27, 39);

$bg-color-lighter: #282d37;

$gradient-font-color-right: linear-gradient(
    to right,
    rgba(255, 243, 112, 1) 0%,
    rgba(227, 60, 38, 1) 61%,
    rgba(227, 60, 38, 1) 62%
);

$gradient-font-color-bottom: linear-gradient(
    to bottom,
    rgba(255, 243, 112, 1) 0%,
    rgba(227, 60, 38, 1) 61%,
    rgba(227, 60, 38, 1) 62%
);
