@import "../../../styles/variables";

.PortfolioItem {
    color: $basic-font-color;
    margin: 20px 5px;

    background-color: lime;
    max-width: 700px;

    .infoContainer {
        color: red;
        padding: 30px;
        background: $background-color;
        border: 1px solid;
        border-image-source: $gradient-font-color-right;
        border-image-slice: 1;
        transition: all 0.2s ease;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr;
        cursor: default;
    }

    .infoContainer__header {
    }

    .infoContainer__description {
    }

    .infoContainer__links {
        display: flex;
        align-items: center;
    }
}
