@import "../../../styles/variables";

.PortfolioItem {
    color: $basic-font-color;
    margin: 20px 0;
    background-color: lime;
    max-width: 700px;

    .infoContainer {
        color: red;
        padding: 30px;
    }

    .infoContainer__header {
    }

    .infoContainer__description {
    }

    .infoContainer__links {
    }
}
