@import "../../styles/variables";

.TextSection {
    background-color: $background-color;
    color: $basic-font-color;
    display: flex;
    justify-content: center;
    padding: 160px 0;
}

.section {
    position: relative;
    max-width: 300px;
    padding-left: 6px;

    &::before {
        position: absolute;
        left: -4px;
        top: 0;
        display: inline-block;
        content: "";
        height: 100%;
        width: 5px;
        background: $gradient-font-color-bottom;
        transition: all 0.3s ease-in-out;
    }
}

.section__header {
    background: $gradient-font-color-right;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    display: inline-block;
    line-height: 36px;
    font-size: 42px;
    margin-top: 0;
    cursor: pointer;
    word-spacing: 20px;
    width: min-intrinsic;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;

    &::after {
        position: absolute;
        display: inline-block;
        content: "";
        height: 5px;
        width: 100%;
        bottom: -5px;
        left: 0;
        background: $gradient-font-color-right;
        transition: all 0.3s ease-in-out;
    }
}

.section__content__one {
    margin: 0 10px 5px 0;
    font-size: 20px;
    text-align: justify;
    position: relative;
    display: flex;
    align-items: center;
}

.section__content__one_color {
    position: relative;
    background-clip: padding-box;
    font-weight: 700;
    font-size: 22px;
    padding: 3px 5px 0;
    display: inline-block;
    margin: 0;
    border: none;
    background-color: $background-color;
    cursor: pointer;
    z-index: 1;
    border: 1px solid transparent;
    border-image: $gradient-font-color-right;
    border-image-slice: 1;
    transition: all 3.2s ease;
    overflow: hidden;
    margin: 0 0 1px 3px;

    &::before {
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        background: $gradient-font-color-right;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 40%;
        top: 60px;
        transform: translateX(-50%) rotate(0deg);
        z-index: -1;
        transition: color 0.2s ease, transform 1.8s cubic-bezier(0.25, 0.1, 0.58, 0.06),
            top 1.8s cubic-bezier(0.25, 0.1, 0.58, 0.06);
    }

    &:hover {
        color: $background-color;

        &::before {
            top: -50px;
            transform: translateX(-50%) rotate(360deg);
        }
    }
}

.section__content__two {
    font-size: 19px;
    margin: 0 10px 0 0;
    text-align: justify;
    font-weight: 100;

    .section__content__two_link {
        cursor: pointer;
        position: relative;
        display: inline-block;
        background: $gradient-font-color-right;
        color: $background-color;
        font-weight: 700;
        padding: 0 3px;
    }
}

@media screen and (min-width: 768px) {
    .section {
        max-width: 570px;

        &::before {
            left: -10px;
        }
    }
}
